:root {
    --hover-color: rgba(250, 74, 12, 1);
    --nav-text-color: rgba(37, 43, 66, 1);
    --hero-subtitle-color: rgba(246, 246, 246, 1);
    --hero-title-color: rgba(255, 255, 255, 1);
    --titles-color: rgba(0, 0, 0, 1);
    --app-desc-color: rgba(115, 115, 115, 1);
    --footer-desc-color: rgba(92, 92, 92, 1);
    --font-family: "Montserrat", sans-serif;
    --second-family: "Poppins", sans-serif;
    --third-family: "Roboto", sans-serif;
    --hero-bg-color: rgba(23, 16, 16, 0.6);
    --order-bg-color: rgba(37, 43, 66, 0.4);
}

.title,
.subtitle {
    font-weight: 700;
}

.subtitle {
    font-size: 24px;
}

.desc {
    font-weight: 500;
    font-size: 24px;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: var(--font-family);
    line-height: 36px;
    letter-spacing: 0.1px;
}

.container {
    width: 1210px;
    margin: 0 auto;
}

.header {
    background-color: var(--hero-title-color);
    padding-top: 49px;
    padding-bottom: 41.27px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    line-height: 0;
}

.nav-list {
    display: flex;
    gap: 94px;
}

.nav-link:hover {
    color: var(--hover-color);
}

.nav-link {
    color: var(--nav-text-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    padding: 10px;
    display: inline-block;
}

.hero {
    background-color: var(--hero-bg-color);
    text-align: center;
    padding-top: 79px;
    padding-bottom: 162px;
    background-image: linear-gradient(to top, var(--hero-bg-color), var(--hero-bg-color)), url(./images/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-subtitle {
    color: var(--hero-subtitle-color);
    padding-bottom: 10px;
}

.hero-title {
    font-family: var(--second-family);
    color: var(--hero-title-color);
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.hero-desc {
    padding-bottom: 54px;
    color: var(--hero-subtitle-color);
    letter-spacing: 0.2px;
    line-height: 38px;
}

.hero-list {
    display: flex;
    gap: 67px;
    justify-content: center;
}


.hero-button {
    color: var(--hero-title-color);
    font-size: 24px;
    background-color: var(--hover-color);
    padding: 16px 58px 16px 73px;
    border-width: 0;
    border-radius: 30px;
    font-weight: 700;
}

.hero-button-bg {
    border-width: 1px;
    border-color: var(--hero-title-color);
    border-style: solid;
    background-color: transparent;
    padding-inline: 82px;
}

.app {
    padding-top: 56px;
    padding-bottom: 190.78px;
}

.app-list {
    padding-left: 84px;
    padding-right: 71px;
    display: flex;
    flex-wrap: wrap;
    gap: 108px;
}

.app-item {
    display: flex;
    gap: 287px;
    align-items: center;
}

.app-item:nth-child(2) {
    flex-direction: row-reverse;
    gap: 250px;
}

.app-title {
    font-family: var(--second-family);
    color: var(--titles-color);
    font-weight: 600;
    font-size: 44px;
    text-align: center;
    padding-bottom: 70px;
}

.app-subtitle {
    color: var(--hover-color);
    padding-bottom: 17px;
}

.app-item-title {
    font-size: 40px;
    line-height: 57px;
    color: var(--nav-text-color);
    letter-spacing: 0.2px;
    padding-bottom: 17px;
}

.app-desk {
    color: var(--app-desc-color);
    line-height: 38px;
    letter-spacing: 0.2px;
    max-width: 480px;
}

.order {
    background-color: var(--order-bg-color);
    text-align: center;
    padding-bottom: 131px;
    padding-top: 140px;
    background-image: url(./images/order-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.order-title {
    color: var(--hero-title-color);
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    padding-bottom: 10px;
}

.order-desc {
    color: var(--hero-title-color);
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    padding-bottom: 59px;
}

.order-list {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.order-btn {
    background-color: var(--hover-color);
    color: var(--hero-title-color);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.2px;
    border-width: 0;
    border-radius: 10px;
    padding-block: 18px;
    padding-inline: 31px;
    line-height: 28px;
}

.order-btn-right {
    background-color: transparent;
    border-width: 1px;
    border-color: var(--hero-title-color);
    border-style: solid;
    padding: 16px 45px;
}

.footer {
    background-color: var(--hero-title-color);
    padding-top: 114px;
    padding-bottom: 58px;
}

.footer-container {
    display: flex;
    background-color: var(--hero-title-color);
    justify-content: space-between;
    align-items: center;
}

.footer-desc {
    color: var(--footer-desc-color);
    font-family: var(--third-family);
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
}
